.the_bar {

}
h1 {
font-family: Futura;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;

color: #000000;
}

h2 {

font-family: Futura;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
/* identical to box height */


color: #000000;
}

h3 {
  position: absolute;
left: 1001px;
top: 50px;

font-family: Futura;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;

color: #000000;

}

h4 {
  position: absolute;
left: 1200px;
top: 50px;

font-family: Futura;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
/* identical to box height */


color: #000000;
}

h5 {
  position: absolute;
left: 1395px;
top: 50px;

font-family: Futura;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;

color: #000000;
}

title1 {
  position: absolute;
width: 809px;
height: 144px;
left: 400px;
top: 278px;

font-family: Futura;
font-style: normal;
font-weight: bold;
font-size: 55px;
line-height: 73px;


color: #000000;
}

title2 {
  position: absolute;
width: 483px;
height: 83px;
left: 563px;
top: 350px;

font-family: Futura;
font-style: normal;
font-weight: bold;
font-size: 55px;
line-height: 73px;

color: #000000;

}

rectange1 {
  position: absolute;
width: 471px;
height: 27px;
left: 689px;
top: 323px;
z-index: -1;
background: #82DEF2;
}

rectangle2 {
  position: absolute;
width: 276px;
height: 26px;
left: 734px;
top: 2447px;
z-index: -1;
background: #32C7E8;
}

rectangle3 {
position: absolute;
width: 257.53px;
height: 88.4px;
left: 676px;
top: 2593px;

background: #517EC1;
border: 4px solid #FFFFFF;
box-sizing: border-box;
}
body1 {
  position: absolute;
width: 679px;
height: 83px;
left: 465px;
top: 458px;

font-family: Futura;
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 33px;

color: #517EC1;
}

#image-b {
  position: absolute;
width: 100%;
left: 0px;
top: 1031px;
}

#title3 {
  position: absolute;
width: 372.45px;
height: 95.3px;
left: 586.35px;
top: 1083.83px;

font-family: Futura;
font-style: normal;
font-weight: bold;
font-size: 55px;
line-height: 73px;
text-align: center;

color: #FFFFFF;

}

#virus {
  position: absolute;
width: 372.45px;
height: 95.3px;
left: 946.35px;
top: 1090.83px;
}

#background_r1 {
  position: absolute;
  width: 482.43px;
  height: 442.08px;
  left: 67.04px;
  top: 1253.57px;
  
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transform: matrix(1, 0, 0, 1, 0, 0);
}


#text_title {
  position: absolute;
width: 226px;
height: 57px;
left: 106px;
top: 1297px;

font-family: Futura;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;

color: #000000;

}

#text_bod {
  position: absolute;
width: 408.86px;
height: 425.9px;
left: 105.64px;
top: 1397.06px;

font-family: Futura;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;

color: #000000;
}


#bottom_box {

  position: absolute;
width: 100%;
height: 408px;
left: 0px;
top: 2334px;
z-index: -2;

background: #517EC1;
}

#background_r2 {
  position: absolute;
width: 428.45px;
height: 619.5px;
left: 612.95px;
top: 1274.76px;

background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
transform: matrix(1, 0, 0, 1, 0, 0);
}

#text_title2 {
  position: absolute;
width: 363.11px;
height: 578.19px;
left: 647.23px;
top: 1335.55px;

font-family: Futura;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;

color: #000000;

}

#text_bod2 {
  position: absolute;
width: 363.11px;
height: 578.19px;
left: 647.23px;
top: 1435.55px;

font-family: Futura;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;

color: #000000;

}

#background_r3 {
  position: absolute;
  width: 425.66px;
  height: 453.49px;
  left: 1101.4px;
  top: 1253.8px;
  
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#text_title3 {
  position: absolute;
width: 360.75px;
height: 338.73px;
left: 1134.39px;
top: 1307.58px;

font-family: Futura;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;

color: #000000;
}

#text_bod3 {
position: absolute;
width: 360.75px;
height: 338.73px;
left: 1134.39px;
top: 1407.58px;
font-family: Futura;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
color: #000000;
}

#updated {
position: absolute;
width: 429px;
height: 86px;
left: 590px;
top: 2404px;
font-family: Futura;
font-style: normal;
font-weight: bold;
font-size: 55px;
line-height: 73px;
color: #FFFFFF;
}

#latest {
position: absolute;
width: 347px;
height: 48px;
left: 631px;
top: 2518px;
font-family: Futura;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
color: #FFFFFF;
}

#clickhere {
position: absolute;
width: 206px;
height: 40px;
left: 702px;
top: 2617px;
font-family: Futura;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;
color: #FFFFFF;
}

/* visited link */
a:visited {
  color: #FFFFFF;
}


/* selected link */
a:active {
  color: #FFFFFF;
}